
.red {
    -fx-background-color:
            #FFFFFF,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
        -fx-background-radius: 5,4,3,5;
        -fx-background-insets: 0,1,2,0;
        -fx-text-fill: black;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
        -fx-font-family: "Times New Roman";
        -fx-text-fill: linear-gradient(white, #d0d0d0);
        -fx-padding: 10 20 10 20;
        -fx-font-size:30px;
}


.label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;

}

.table-view .column-header{
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-cell {
    -fx-font-size: 25px;
    -fx-alignment: center;
}

.list-view {
    -fx-font-size: 24px;
    -fx-alignment: center;
}