

.label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-opacity: 1;

}

.table-view .column-header{
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-cell {
    -fx-font-size: 25px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.list-view {
    -fx-font-size: 24px;
    -fx-alignment:center-right ;
}


.button {
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
     -fx-font-size: 20px;
          -fx-text-fill: black;
 }
