.root {
     -fx-background-image: url("titel.png");
     -fx-background-position: top center;
     -fx-background-repeat: no-repeat no-repeat;
}


.button {
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-family: "MV Boli";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#fd4404, #211f21);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
     -fx-font-size: 36px;
     /*-fx-background-color: #B10000;*/
     -fx-background-color: linear-gradient(#211f21, #fd4404);
     -fx-text-fill: white;
     -fx-cursor: hand;
     -fx-underline: false;
     -fx-font-weight: bold;
 }
