.root {
     -fx-background-image: url("floor.png");
}

.button {
    -fx-background-color: transparent;
}

#score {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5) , 0,0,0,1);
}

#order {
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5) , 0,0,0,1);
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 24px;

}

