.root {
     -fx-background-image: url("floor.png");
}

#score {
    -fx-font-size:32px;
    -fx-fontweight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5) , 0,0,0,1);
}

#order {
    -fx-fontweight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5) , 0,0,0,1);
}

.button {
    -fx-background-color: transparent;
}